@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:wght@400;500;600;700&family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1700px;
    padding: 0 50px;
    margin: auto;
}
/* Navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    font-family: 'ubuntu',sans-serif;
    padding: 25px 0;
    transition: all 0.3s ease-in-out;
}
.navbar.sticky{
    background-color: rgb(0,0,0); /* Fallback color */
    background:rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
    padding: 10px 0;

}
.navbar .logo{
    font-family: 'Homemade Apple', cursive;


}
.navbar.sticky  .logo a{
    font-size: 25px;
}
  
.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s ease;


}
.navbar .logo a i{
    color: #fff;
    font-size: 25px;
}

.navbar .logo a span{
    color: #0d6efd;

}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
    
}
.navbar .menu li a{
    display: block;
    color:#fff;
    margin-left: 30px;
    transition: color 0.3s ease;
    font-size: 1.3rem;
} 
.navbar .menu li a:hover{
    color: #0d6efd;
}

/* menu button styling */

.menu-btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #0d6efd;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;

}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/* Home section styling */
.home{
    display: flex;
    background: url("./photos/joshua-reddekopp-SyYmXSDnJ54-unsplash.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    height:100vh;
    font-family: 'ubuntu',sans-serif;

}
.home .max-width{
    margin: auto 0 auto 100px ;
}
.home .home-content .text-1{
    font-size: 30px;

}
.home .home-content .text-2{
    font-size: 80px;
    font-weight: 700;
    margin-left: -5px;

}

.home .home-content .text-3{
    font-size: 50px;
    margin: 5px 0;

}
.home .home-content .text-3 span{
    color: #0d6efd;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: none;
    border: 2px solid #0d6efd;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all .3s ease;
    margin: 30px 10px;
}
.home .home-content a:hover{
    background: #0d6efd;
}


.home .home-content .social a{
    border: none;
    padding: 5px 5px;
}

/* about section styling */
section{
    padding:50px 0;
    background: rgba(0, 0, 0, 1);
    color: #fff;

}
.about{
    font-family: 'Poppins',sans-serif;
}
.about .title,.contacts .title {
    font-family: 'Ubuntu',sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 400;

}
.about .about-content .image img{
    height: 400px;
    width: 400px;
    object-fit: contain;
    box-shadow: 10px 10px 30px #152c4e,-10px -10px 30px #1c3b6d;

}

.about .about-content,.services-content ,.skills-content,.contacts-content{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;    

}
.about .about-content .image {
    width: 45%;

}
.about .about-content .right {
    width: 55%;

}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 700;

}
.about .about-content .right .text span{
    color: #0d6efd;
}

.about .about-content .right a{
    display: inline-block;
    background: #0d6efd;
    color:#fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 30px;
    transition: all .3s ease;
}

.about .about-content .right a:hover{
    border: 2px solid #0d6efd;
    color: #0d6efd;
    background: none;
}

/* services section styling */

.services,.skills,.projects,.contacts,footer{
    font-family: 'Poppins',sans-serif;
}
.services .title,.skills .title,.projects .title{
    font-family: 'Ubuntu',sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}
.services .services-content .card{
    width: calc(45% - 20px);
    text-align: center;
    box-shadow: 5px 5px 20px #081c3a,-5px -5px 20px #0f2241;
    border-radius: 5px;
    padding: 20px 25px;
    cursor: pointer;
}

.services .services-content .card:hover{
    background: #0d6efd;
    
}
.services .services-content .card .box{
    transition: all 0.4s ease;

}
.services .services-content .card .box:hover{
    transform: scale(1.05);

}

.services .services-content .card i{
    font-size: 50px;
    color: #0d6efd;
    transition: color .4s ease;
}
.services .services-content .card:hover i{
    color: #fff;
    
}
.services .services-content .card .text{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

/* skills section styling */

.skills .skills-content .collumn{
    width: calc(50% - 20px);
}

.skills .skills-content .right .bars,.skills .skills-content .left .bars{
    margin-bottom: 25px;

}

.skills .skills-content .right .info, .skills .skills-content .left .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .web{
    text-decoration: underline;
    text-align: center;
    color: #0d6efd;
}

.skills .skills-content .right span ,.skills .skills-content .left span{
    font-weight: 500;
    font-size: 18px;

} 

.skills .skills-content .right .line ,.skills .skills-content .left  .line{
    height: 5px;
    width: 100%;
    background:lightgray;
    position: relative;
    
}

.skills .skills-content .right .line::before,.skills .skills-content .left .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background: #0d6efd;
     
}

.skills .skills-content .right .html::before{
    width: 90%;
}
.skills .skills-content .right .css::before{
    width: 70%;
}
.skills .skills-content .right .javascript::before{
    width: 80%;
}
.skills .skills-content .right .html::before{
    width: 90%;
}
.skills .skills-content .right .angular::before{
    width: 70%;
}
.skills .skills-content .right .flask::before{
    width: 60%;
}
.skills .skills-content .right .django:before{
    width: 80%;
}
.skills .skills-content .left .figma::before{
    width: 90%;
}
.skills .skills-content .left .miro::before{
    width: 70%;
}

/* projects section styling */

.projects .carousel .card{
    border-radius: 5px;
    padding: 25px 35px;
    background: #1c3a5b;
    text-align: center;
    transition: all 0.3s ease;

}

.projects .carousel .card:hover{
    background: #0d6efd;

}
.projects .carousel .card .box{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;

}
.projects .carousel .card:hover .box{
    transform: scale(1.05);
}

.projects .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
}

.projects .carousel .card img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #0d6efd;
    transition: all 0.3s ease;


}
.projects .carousel .card:hover img{
    border: 5px solid #fff;
}


.owl-dots{
 text-align: center;
 margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50%;
    border: 2px solid #0d6efd !important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,.owl-dot:hover{
    background: #0d6efd !important;
}

.projects .carousel .card .box a{
    background: #1c3a5b;;
    color:#fff;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 50px;
    opacity: 0;
    transition: all .5s ease;

}
.projects .carousel .card .box:hover a{
    opacity: 1;
    border: 1px solid #fff;
}
.projects .carousel .card .box a:hover{
    background: #07203a;;
}


/* contacts section styling */

.contacts .contacts-content  .collumn{
    width: calc(50% - 30px);
}

.contacts .contacts-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #0d6efd;
    text-align: center;



}
.contacts .contacts-content .left p{
    text-align: justify;
}

.contacts .contacts-content .left .icons{
    margin: 10px 0;
}
.contacts .contacts-content .row{
    display: flex;
    height: 60px;
    align-items: center;

}

.contacts .contacts-content .row .my-info{
    margin-left: 30px;
}


.contacts .contacts-content .row  i{
    font-size: 25px;
    color: #0d6efd;

}

.contacts .contacts-content .row .my-info .head{
    font-weight: 500;
    color: #75a1e7da;
} 
.contacts .contacts-content .right form .fields{
    display: flex;
     
}
.contacts .contacts-content .right form .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;

}
.contacts .right form .textarea{
    margin-bottom: 20px;
    height: 80px;
}

.contacts .contacts-content .right form .field input,.contacts .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;
    padding: 0 15px;
    font-family: 'Poppins',sans-serif;

}
.contacts .contacts-content .right form .name{
    margin-right: 10px;
}
.contacts .contacts-content .right form .email{
    margin-left: 10px;
}

 .contacts .right form .button{
     text-align: center;

 }
 .contacts .right form .button button{

    background: #0d6efd;
    color:#fff;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #0d6efd;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
    transition: all .3s ease;
 }

 .contacts .right form .button button:hover{
    border: 2px solid #0d6efd;
    background: none;
    color: #0d6efd;


 }

/* footer styling */


footer{
    background: #0d6efd;
    padding: 20px 20px;
    text-align: center;
}
footer span{
    font-size: 20px;
    font-weight: 500;
}





/* media queries */
@media (max-width:990px){
    .max-width{
        padding: 0 20px;
    }
    .menu-btn{
        color: #fff;
        font-size: 25px;
        cursor: pointer;
        display: block;
        z-index: 1;
    }
    .menu-btn i.active::before{
        content: '\f00d';

    }
    .navbar .menu{
        position: fixed;
        background: #000;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 150px;
        transition: all .4s ease-in-out;
    }
    .navbar .menu.active{
        left: 0;

    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 30px;
    }
    .home .home-content .text-2{
        font-weight: 500;
    
    }
    
    .home .home-content .text-3{
        font-size: 35px;    
    }


  
}
@media (max-width:768px){
    .home .max-width{
        margin: auto 0 auto 40px;
    }
    .home .home-content .text-2{
        font-weight: 500;
    
    }
    
    .home .home-content .text-3{
        font-size: 25px;    
    }
    .services .services-content .card{
        width: calc(100%);
        margin-bottom: 30px;
    }

    .skills .skills-content .collumn{
        width: calc(100%);
    }
    .contacts .contacts-content  .collumn{
        width: calc(100%);
    }
}
@media (max-width:500px){
    .home .max-width{
        margin: auto 0 auto 20px;
    }
    .home .home-content .text-2{
        font-weight: 500;
        font-size: 60px;    

    }
    
    .home .home-content .text-3{
        font-size: 20px;    
    }
    .home .home-content a{
        font-size: 20px;
        padding: 5px 15px;
        border-radius: 5px;
        margin-top: 20px;
        transition: all .3s ease;
    }
  
}

@media (max-width:1050px){
    .about .about-content .image img{
        height: 300px;
        width: 300px;
        object-fit: contain;
    
    }


}
@media (max-width:800px){
    .about .about-content .image{
        width: 100%;
    }
    .title{
        margin-bottom: 50px;
    }
    .about-content .image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
  .about  .about-content .image img{
        width: 400px;
        height: 400px;
        margin-bottom: 20px;
     
    }
  .about  .about-content .right{
        margin: 0 auto ;
        width: 100%;
    }

    .about .about-content .right a{
        font-size: 15px;
        padding: 10px 15px;

    }
}

    @media (max-width:445px)
    {
        .about  .about-content .image img{
            width: 300px;
            height: 300px;
         
        }

    }